<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="16"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <p>fdghdfvhd</p>
    <div>
        <table>
            <tr>
                <th>{{localize "rift1e.weapon.attackWith"}}</th>
                <th>{{localize "rift1e.weapon.damage"}}</th>
                <th>{{localize "rift1e.weapon.distance"}}</th>
                <th>{{localize "rift1e.weapon.weight"}}</th>
                <th>{{localize "rift1e.weapon.convinience"}}</th>
                <th>{{localize "rift1e.weapon.apiercing"}}</th>
                <th>{{localize "rift1e.weapon.flexibility"}}</th>
                <th>{{localize "rift1e.weapon.power"}}</th>
                <th>{{localize "rift1e.weapon.bulky"}}</th>
                <th>{{localize "rift1e.weapon.fatal"}}</th>
                <th>{{localize "rift1e.weapon.swing"}}</th>
                <th>{{localize "rift1e.weapon.alternative"}}</th>
                <th>{{localize "rift1e.weapon.reload"}}</th>
                <th>{{localize "rift1e.weapon.bolt"}}</th>
                <th>{{localize "rift1e.weapon.magazine"}}</th>
                <th>{{localize "rift1e.weapon.contact"}}</th>
                <th>{{localize "rift1e.weapon.reliable"}}</th>
                <th>{{localize "rift1e.weapon.throwing"}}</th>
                <th>{{localize "rift1e.weapon.stationary"}}</th>
                <th>{{localize "rift1e.weapon.scratch"}}</th>
                <th>{{localize "rift1e.weapon.assault"}}</th>
            </tr>
        </table>
    </div>
</form>
