<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="16"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
        <script>
            import { rift1e } from "./module/config.js"; // Импортируем rift1e из config.js
    
            document.addEventListener('DOMContentLoaded', () => {
                const select = document.getElementById('attackTypeSelect');
                const attackTypes = rift1e.attackTypes;
    
                // Создаем опции для выпадающего списка
                for (const [key, value] of Object.entries(attackTypes)) {
                    const option = document.createElement('option');
                    option.value = value;
                    option.textContent = value || "Выберите тип атаки"; // Если значение пустое, отображаем текст
                    select.appendChild(option);
                }
            });
        </script>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "rift1e.weapon.attackWith"}}</th>
                <th>{{localize "rift1e.weapon.damage"}}</th>
                <th>{{localize "rift1e.weapon.distance"}}</th>
                <th>{{localize "rift1e.weapon.weight"}}</th>
                <th>{{localize "rift1e.weapon.convinience"}}</th>
                <th>{{localize "rift1e.weapon.apiercing"}}</th>
                <th>{{localize "rift1e.weapon.flexibility"}}</th>
            </tr>
            <td>
                <select id="attackTypeSelect">
                    <!-- Опции будут добавлены здесь через JavaScript -->
                </select>
                               
            </td>
            <td>
                <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />

            </td>
        </table>

        <table>
            <tr>
                <th>{{localize "rift1e.weapon.power"}}</th>
                <th>{{localize "rift1e.weapon.bulky"}}</th>
                <th>{{localize "rift1e.weapon.fatal"}}</th>
                <th>{{localize "rift1e.weapon.swing"}}</th>
                <th>{{localize "rift1e.weapon.alternative"}}</th>
                <th>{{localize "rift1e.weapon.reload"}}</th>
                <th>{{localize "rift1e.weapon.bolt"}}</th>
            </tr>
            <td>
                <input name="data.power" type="checkbox" {{checked data.power}}>
            </td>
        </table>
            
        <table>
            <tr>
                <th>{{localize "rift1e.weapon.magazine"}}</th>
                <th>{{localize "rift1e.weapon.contact"}}</th>
                <th>{{localize "rift1e.weapon.reliable"}}</th>
                <th>{{localize "rift1e.weapon.throwing"}}</th>
                <th>{{localize "rift1e.weapon.stationary"}}</th>
                <th>{{localize "rift1e.weapon.scratch"}}</th>
                <th>{{localize "rift1e.weapon.assault"}}</th>
            </tr>
        </table>
        <textarea name="data.sescription"{{data.descriprion}}></textarea>
    </div>
</form>
//